# Lenguaje de consulta Cypher


<img src="../images/neo4j/Neo4j-logo.jpg" alt="Neo4j Logo" style="width: 400px; PADDING-LEFT: 5px"/>

## Introducción

Cypher es un lenguaje de consulta de grafos declarativo que permite realizar consultas de datos expresivas y eficientes en un grafo de propiedades.

En este notebook vamos a ver las principales operaciones que podemos realizar sobre Neo4j con este lenguaje de consulta.

## Preparación del entorno

Para trabajar con neo4j desde python vamos a utilizar la librería py2neo. Puedes encontrar la documentación en su página web: https://py2neo.org/v4/index.html

In [1]:
# Como instalar py2neo
!pip install pprintpp
!pip install py2neo

Requirement already satisfied: pprintpp in /opt/conda/lib/python3.6/site-packages (0.4.0)
Requirement already satisfied: py2neo in /opt/conda/lib/python3.6/site-packages (2021.2.3)
Requirement already satisfied: certifi in /opt/conda/lib/python3.6/site-packages (from py2neo) (2018.8.24)
Requirement already satisfied: packaging in /opt/conda/lib/python3.6/site-packages (from py2neo) (18.0)
Requirement already satisfied: monotonic in /opt/conda/lib/python3.6/site-packages (from py2neo) (1.6)
Requirement already satisfied: pygments>=2.0.0 in /opt/conda/lib/python3.6/site-packages (from py2neo) (2.2.0)
Requirement already satisfied: six>=1.15.0 in /opt/conda/lib/python3.6/site-packages (from py2neo) (1.16.0)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.6/site-packages (from py2neo) (1.23)
Requirement already satisfied: interchange~=2021.0.4 in /opt/conda/lib/python3.6/site-packages (from py2neo) (2021.0.4)
Requirement already satisfied: pansi>=2020.7.3 in /opt/conda/lib/python3.6/site-packages (from py2neo) (2020.7.3)
Requirement already satisfied: pytz in /opt/conda/lib/python3.6/site-packages (from interchange~=2021.0.4->py2neo) (2018.5)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.6/site-packages (from packaging->py2neo) (2.2.2)

In [2]:
from py2neo import Graph, Relationship, Node
import json

graph = Graph("http://neo4j:1234@neo4j:7474/db/data")

## Borrado de todos los nodos y relaciones de la base de datos

Para resetear el notebook tras ejecuciones anteriores, primero vamos a borrar todos los nodos y realaciones existentes en la base de datos.

In [3]:
graph.run("MATCH (n) DETACH DELETE n").evaluate()

## Insertar información 

Vamos la ver las sentencias de creacón:

### Crear un nodo
Para crear un nodo utilizamos la sentencia **CREATE**. Esta senencia nos permite crear el patrón que necesitemos:

() - Nodo

(matrix) - Variable

(:Movie) - Etiqueta

(matrix:Movie) - Variable + Etiqueta

(matrix:Movie {title: "The Matrix"}) - Atributo

(matrix:Movie {title: "The Matrix", released: 1997})

In [4]:
graph.run("""
    CREATE (:Movie { title:"The Matrix",released:1997 })
""").evaluate()

Si además de crear el nodo quermos ver el dato insertado utilizamos el comando **RETURN**

In [5]:
graph.run("""
    CREATE (p:Person { name:"Keanu Reeves", born:1964 })
    RETURN p
""").to_table()

 p
------------------------------------------------
 (_1:Person {born: 1964, name: 'Keanu Reeves'})

### Crear relaciones

Para crear relaciones utilizaremos las sentencia CREATE con el patrón deseado:

--> o <--

-[role]->

-[:ACTED_IN]->

-[role:ACTED_IN]->

-[role:ACTED_IN {roles: ["Neo"]}]->

Podemos crear mas de un elemento separandolos por comas o utilizando varias sentencias create simultaneamente.

In [6]:
graph.run("""
    CREATE (a:Person { name:"Tom Hanks",
      born:1956 })-[r:ACTED_IN { roles: ["Forrest"]}]->(m:Movie { title:"Forrest Gump",released:1994 })
    CREATE (d:Person { name:"Robert Zemeckis", born:1951 })-[dr:DIRECTED]->(m)
    RETURN a,d,r,m,dr
""").to_table()

 a                                           | d                                                 | r                                                  | m                                                  | dr
---------------------------------------------|---------------------------------------------------|----------------------------------------------------|----------------------------------------------------|----------------------------------------
 (_2:Person {born: 1956, name: 'Tom Hanks'}) | (_4:Person {born: 1951, name: 'Robert Zemeckis'}) | (Tom Hanks)-[:ACTED_IN {roles: ['Forrest']}]->(_3) | (_3:Movie {released: 1994, title: 'Forrest Gump'}) | (Robert Zemeckis)-[:DIRECTED {}]->(_3)

El resultado de la sentencia anterior es el siguiente grafo:

<img src="../images/neo4j/cypher1.png" alt="Initial Graph"/>

## Consulta de datos

Para realizar consultas utilizaremos la sentencia MATCH, que permite indicar el patrón que quermos buscar sobre la base de datos.

### Podemos consultar los nodos con una etiquea determinada

In [9]:
graph.run("""
    MATCH (m:Movie)
    RETURN m
""").to_table()

 m
----------------------------------------------------
 (_0:Movie {released: 1997, title: 'The Matrix'})
 (_3:Movie {released: 1994, title: 'Forrest Gump'})

### Podemos buscar un nodo con una etiqueta determinada y con una propiedad concreta

Vamos a buscar la Persona que se llama Keanu Reeves

Como vemos no es necesario informar todas la propiedades para  buscar un nodo.

In [10]:
graph.run("""
    MATCH (p:Person { name:"Keanu Reeves" })
    RETURN p
""").to_table()

 p
------------------------------------------------
 (_1:Person {born: 1964, name: 'Keanu Reeves'})

### Si añadimos relacciones al patrón podemos obtener resultados más completos

Queremos saber en que películas ha actuado Tom Hanks y que papel ha interpretado en ellas

In [13]:
graph.run("""
    MATCH (p:Person { name:"Tom Hanks" })-[r:ACTED_IN]->(m:Movie)
    RETURN m.title, r.role
""").to_table()

 m.title      | r.roles
--------------|-------------
 Forrest Gump | ['Forrest']

## Incrementar el grafo

Si queremos añadir nuevos nodos y relacionarlos con los nodos ya existentes, primero es necesario buscar los nodos que ya existen a los que queremos añadir nuevas relaciones. 

Vamos a añadir la película "cloud Atlas" y relacionarla con el nodo "Tom Hanks" para indicar que ha actuado en ella.

In [14]:
graph.run("""
    MATCH (p:Person { name:"Tom Hanks" })
    CREATE (m:Movie { title:"Cloud Atlas",released:2012 })
    CREATE (p)-[r:ACTED_IN { roles: ['Zachry']}]->(m)
    RETURN p,r,m
""").to_table()

 p                                           | r                                                 | m
---------------------------------------------|---------------------------------------------------|---------------------------------------------------
 (_2:Person {born: 1956, name: 'Tom Hanks'}) | (Tom Hanks)-[:ACTED_IN {roles: ['Zachry']}]->(_5) | (_5:Movie {released: 2012, title: 'Cloud Atlas'})

## Completar Patrones

Otra forma de añadir información al grafo

In [15]:
graph.run("""
    MERGE (m:Movie { title:"Cloud Atlas" })
    ON CREATE SET m.released = 2012
    RETURN m
""").to_table()

 m
---------------------------------------------------
 (_5:Movie {released: 2012, title: 'Cloud Atlas'})

In [16]:
graph.run("""
    MATCH (m:Movie { title:"Cloud Atlas" })
    MATCH (p:Person { name:"Tom Hanks" })
    MERGE (p)-[r:ACTED_IN]->(m)
    ON CREATE SET r.roles =['Zachry']
    RETURN p,r,m
""").to_table()

 p                                           | r                                                 | m
---------------------------------------------|---------------------------------------------------|---------------------------------------------------
 (_2:Person {born: 1956, name: 'Tom Hanks'}) | (Tom Hanks)-[:ACTED_IN {roles: ['Zachry']}]->(_5) | (_5:Movie {released: 2012, title: 'Cloud Atlas'})

In [20]:
graph.run("""
    CREATE (y:Year { year:2014 })
    MERGE (y)<-[:IN_YEAR]-(m10:Month { month:10 })
    MERGE (y)<-[:IN_YEAR]-(m11:Month { month:11 })
    RETURN y,m10,m11
""").to_table()

 y                      | m10                     | m11
------------------------|-------------------------|-------------------------
 (_9:Year {year: 2014}) | (_10:Month {month: 10}) | (_11:Month {month: 11})

## Modificar un nodo

In [30]:
graph.run("""
    MATCH (n:Person {name : "Keanu Reeves"})
    SET n.hair = "Brown"
""").evaluate()

In [29]:
graph.run("""
    MATCH (n:Person)
    RETURN n
""").to_table()

 n
---------------------------------------------------------------
 (_1:Person {born: 1964, hair: 'Brown', name: 'Keanu Reeves'})
 (_2:Person {born: 1956, name: 'Tom Hanks'})
 (_4:Person {born: 1951, name: 'Robert Zemeckis'})

## Borrar un nodo

In [32]:
graph.run("""
    CREATE (n:Person {name : "Alex"})
    RETURN n;
""").to_table()

 n
-----------------------------
 (_13:Person {name: 'Alex'})

In [31]:
graph.run("""
    MATCH (Alex:Person {name:"Alex"})
    DELETE Alex
""").evaluate()