# CRUD y Consultas Básicas con PyMongo

<img src="../images/MongoDB-Logo-RGB.jpeg" alt="MongoDB Logo" style="width: 400px; PADDING-LEFT: 5px"/>

En este notebook vamos a profundizar en la teoría vista en clase, en concreto vamos a repasar:

* CRUD de documentos sobre colecciones de MongoDB
* Consultas sencillas:
    * find() findOne()
    * Count, Limit, Skip & Sort

El primer paso para utilizar el driver de Python para conectarnos y operar sobre MongoDB es importar la librería del driver.

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages (3.10.1)

In [3]:
import pymongo
from pymongo import MongoClient

## 1. Conexión a la base de datos

Para conectarnos a la base de datos creamos una instancia del objeto MogoClient que nos permitirá operar sobre la base de datos. 

Para indicarle a servidor conectarse le indicamos la url a la base de datos en formato JDBC:

{protocolo}://{usuario:contraseña}@{host}:{puerto}

Y para limpiar el entorno de anteriores ejecuciones, borramos la base de datos que se utiliza en este notebook.

In [4]:
client = MongoClient('mongodb://nosql:nosql@mongo:27017/')

client.drop_database("notebook_uno")

## 2. Creación de la base de datos del ejercicio

Para crear una base de datos en mongo basta con indicarle al cliente que la utilice. Guardaremos la referencia a la base de datos en una variable para trabajar con ella.

**Importante** MongoDB no crea la base de datos hasta que no se inserta un dato en ella.

In [5]:
db = client["notebook_uno"]

## 3. Crear e insertar datos en una colección 

Pra crear una colección en la base de datos seleccionada, utilizamos la referencia que guardamos al crear la base de datos y le indicamos a través del nombre que la utilice. Guardamos su referencia en una variable para utilizarla despues.

**Importante** MongoDB no crea la colección hasta que no se inserta un documento en ella. 

Para insertar un único documento utilizamos la función insert_one.

In [6]:
customers = db["customers"]

In [7]:
customers.insert_one({ "name": "John", "address": "Highway 37" })

Si al insertar no se indica el valor del campo '_id', MongoDB le asignará uno que genera de forma automática.

Pero podemos insertar un valor indicando nosotros su _id.

In [8]:
customers.insert_one({"_id": 1, "name": "Amy", "address": "Apple st 652" })

Pero si intentamos volver a insertar un documento con el mismo _id, obtendremos un error, ya que este campo identifica de forna única el documento y por tanto tiene que ser único.

In [9]:
try:
    customers.insert_one({"_id": 1, "name": "Amy", "address": "Apple st 652" })
except:
    print("Error insertando el documento!")
    raise

Error insertando el documento!

DuplicateKeyError: E11000 duplicate key error collection: notebook_uno.customers index: _id_ dup key: { _id: 1 }

Dedica unos minutos a entender la traza de la excepción: 
1. ¿Qué error devuelve la base de datos?
2. En que línea del código de la celda del notebook se producer el error?

También podemos insertar varios documentos de forma simultánea utilizando la función insert_many()

In [10]:
customer_list = [
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

customers.insert_many(customer_list)

También podemos insertar múltiples documentos indicando el campo _id

In [11]:
customer_list = [
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"},
  { "_id": 15, "name": "John", "address": "Highway 37"}
]

customers.insert_many(customer_list)

## 4. Listar documentos en una colección

Para listar todos los documentos de una colección tenemos dos opciones:

In [ ]:
customers_found = db.customers.find()

for customer in customers_found:
    print(customer)

In [ ]:
customers_found = db.customers.find({})

for customer in customers_found:
    print(customer)

Podemos seleccionar la proyección de los datos que nos interesen.

La función find recibe dos parámetros, el primero es la query que se quiere ejecutar, el segundo indica la proyección de los datos (los campos que queremos traer en la búsqueda, como la cláusula SELECT en SQL). 

Si sólo queremos traernos el campo name:

In [ ]:
customer_list = customers.find({},{ "name": 1})
for customer in customer_list:
    print(customer)

Como ves, aunque hemos idicado que sólo queremos traernos el campo name, también trae el campo _id. Eso es porque MongoDB siempre devuelve ese campo a no ser que le indiquemos expresamente que no lo traiga en la proyección.

In [ ]:
customer_list = customers.find({},{"_id":0, "name": 1})
for customer in customer_list:
    print(customer)

Otra forma de indicar la proyección es haciéndolo justo al revés, indicando que campos no nos queremos traer:

In [ ]:
customer_list = customers.find({},{"_id":0, "name": 0})
for customer in customer_list:
    print(customer)

## 5. Buscar un documento

El método **find_one()** devuelve el primer documento que cumple la condicón de búsqueda.

In [ ]:
customer = db.customers.find_one()
print(customer)

Igual que con el métdo find, podemos seleccionar la proyección

In [ ]:
customer = db.customers.find_one({},{"_id":0, "name": 1})
print(customer)

## 6. Consultas

Cuando buscamos documentos en una colección podemos filtrar la búsqueda. Para ello utilizaremos el primer campo de los métodos find() y find_one(). Si te has fijado hata ahora le pasábmos el valor '{}' lo que indica que no hay query.

Si queremos por ejemplo buscar por el campo '_id'

In [ ]:
customer = db.customers.find_one({"_id": 1})
print(customer)

Podemos además indicar la proyección en el segundo parámetro del método find_one

In [ ]:
customer = db.customers.find_one({"_id": 1}, {"name": 1})
print(customer)

También podemos buscar por el _id generado por MongoDB que es de tipo ObjectId.

Si quieres saber más sobre el ObjectId puedes entrar en su página de documentación de MongoDB: https://docs.mongodb.com/manual/reference/method/ObjectId/

Para poder pasarle a la query el valor del ObjectId necesitamos importar la clase ObjectId del paquet bson y a continuación utilizarlo en la query.

Para que esta query te funcione tienes que utilizar un _id que te haya devuelto una sentencia find anterior.

In [ ]:
from bson.objectid import ObjectId

customer = db.customers.find_one({"_id": ObjectId('65dc7c577838bc50fe9d1c67')})
print(customer)

Funcionaría exactamente igual con el método find()

In [ ]:
customer_list = db.customers.find({"name": "Amy"}, {"_id": 0})

for customer in customer_list:
    print(customer)

Podemos utilizar modificadores en la consulta, como por ejemplo obtener los documentos cuyas direcciones empiecen por 'S' y letras mayores alfabéticamente.

In [ ]:
customer_list = db.customers.find({"address": {"$gt": "S"}})

for customer in customer_list:
    print(customer)

También podemos utilizar expresiones regulares para hacer la búsqueda. Por ejemplo obtener los documentos que incuyan la palabre st en la dirección.

In [ ]:
customer_list = db.customers.find({"address": {"$regex": ".*st.*"}})

for customer in customer_list:
    print(customer)

Si quisiéramos podríamos buscar por varios campos a la vez.

In [ ]:
customer_list = db.customers.find({"name": "Amy", "address": {"$regex": ".*st.*"}})

for customer in customer_list:
    print(customer)

### Ejercicio 1:

Antes de hacer el ejercicio, entra ne la página de la documentación de MongoDB sobre los operadores de las sentencias de consutla: https://docs.mongodb.com/manual/reference/operator/query/

Para el ejercicio crea otra colección que vamos a llamar pets e inserta un pequeño dataset:

`
{name: "Mikey", species: "Gerbil", age: 2}
{name: "Davey Bungooligan", species: "Piranha", age: 10}
{name: "Suzy B", species: "Cat", age: 12}
{name: "Mikey", species: "Hotdog", age: 10}
{name: "Terrence", species: "Sausagedog": age: 5}
{name: "Philomena Jones", species: "Cat": age:13}
`

Y realiza las siguientes consultas:

* Añade una nueva 'piranha' que se llame 'Henry'
* Utiliza el método find para listar todas las mascotas.
* Utiliza el método find para buscar la mascota "Mikey" por ID.
* Utiliza el método find para buscar todos los 'gerbils'.
* Encuentra todas las mascotas que se llamen 'Mikey'.
* Encuentra todas las mascotas que se llamen 'Mikey' y que sean 'gerbils'.
* Buscar todas las mascotas que contengan 'dog' en el nombre de su especie.
* Buscar las mascotas que tengan menos de 10 años.
* Buscar las mascotas que tengan 10 o más años.

### SOLUCIÓN:

* Importo la librería del driver y me conecto a la base de datsos creando una instancia MongClient para operar sobre los datos:

In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages (3.10.1)

In [3]:
import pymongo
from pymongo import MongoClient

In [4]:
client = MongoClient('mongodb://nosql:nosql@mongo:27017/')

client.drop_database("pets")

* Creo la base de datos 'pets':

In [5]:
db = client["pets"]

* Introduzco los datos (si ya están creados no se vuelven a introducir) y los muestro:

In [8]:
datos = [
    {"name": "Mikey", "species": "Gerbil", "age": 2},
    {"name": "Davey Bungooligan", "species": "Piranha", "age": 10},
    {"name": "Suzy B", "species": "Cat", "age": 12},
    {"name": "Mikey", "species": "Hotdog", "age": 10},
    {"name": "Terrence", "species": "Sausagedog", "age": 5},
    {"name": "Philomena Jones", "species": "Cat", "age": 13}
]

# Verificar si los datos ya existen antes de insertar
for dato in datos:
    if not db.pets.find_one(dato):
        # Insertar solo si no existe
        db.pets.insert_one(dato)

# Mostrar los datos en la base de datos
for documento in db.pets.find():
    print(documento)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35de'), 'name': 'Davey Bungooligan', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35df'), 'name': 'Suzy B', 'species': 'Cat', 'age': 12}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e1'), 'name': 'Terrence', 'species': 'Sausagedog', 'age': 5}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e2'), 'name': 'Philomena Jones', 'species': 'Cat', 'age': 13}

* Introduzco la mascota 'Henry' y confirmo que está en la base de datos listando todas las mascotas:

In [9]:
db.pets.insert_one({"name": "Henry", "species": "piranha", "age": 6})

In [18]:
pets_find = db.pets.find()
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35de'), 'name': 'Davey Bungooligan', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35df'), 'name': 'Suzy B', 'species': 'Cat', 'age': 12}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e1'), 'name': 'Terrence', 'species': 'Sausagedog', 'age': 5}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e2'), 'name': 'Philomena Jones', 'species': 'Cat', 'age': 13}
{'_id': ObjectId('65dcc9152b6f87cbbfbe35e3'), 'name': 'Henry', 'species': 'piranha', 'age': 6}

* Importo el método ObjectId
* Uso el método find para buscar la mascota "Mikey" por ID:

In [15]:
from bson.objectid import ObjectId
pets_find = db.pets.find({'_id':ObjectId('65dcc89a2b6f87cbbfbe35e0')},{'name':1})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey'}

In [17]:
pets_find = db.pets.find({'name':'Mikey'},{'_id':1, 'name':1})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey'}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey'}

* Utiliza el método find para buscar todos los 'gerbils':

In [24]:
pets_find = db.pets.find({'species': 'Gerbil'})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}

* Encuentra todas las mascotas que se llamen 'Mikey':

In [25]:
pets_find = db.pets.find({'name': 'Mikey'})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 10}

* Encuentra todas las mascotas que se llamen 'Mikey' y que sean 'gerbils'.

In [29]:
pets_find = db.pets.find({'name':'Mikey', 'species':'Gerbil'})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}

* Buscar todas las mascotas que contengan 'dog' en el nombre de su especie.

In [34]:
pets_find = db.pets.find({"species": {"$regex": ".*dog*."}})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e1'), 'name': 'Terrence', 'species': 'Sausagedog', 'age': 5}

* Buscar las mascotas que tengan menos de 10 años.

In [36]:
pets_find = db.pets.find({"age": {"$lt": 10}})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35dd'), 'name': 'Mikey', 'species': 'Gerbil', 'age': 2}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e1'), 'name': 'Terrence', 'species': 'Sausagedog', 'age': 5}
{'_id': ObjectId('65dcc9152b6f87cbbfbe35e3'), 'name': 'Henry', 'species': 'piranha', 'age': 6}

* Buscar las mascotas que tengan 10 o más años.

In [38]:
pets_find = db.pets.find({"age": {"$gte": 10}})
for pets in pets_find:
    print(pets)

{'_id': ObjectId('65dcc89a2b6f87cbbfbe35de'), 'name': 'Davey Bungooligan', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35df'), 'name': 'Suzy B', 'species': 'Cat', 'age': 12}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e0'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65dcc89a2b6f87cbbfbe35e2'), 'name': 'Philomena Jones', 'species': 'Cat', 'age': 13}

## 7. Count, Limit, Skip & Sort

Operadores del cursor de mongo: https://docs.mongodb.com/manual/reference/method/js-cursor/

### 7.1 Count

Para contar los elementos devueltos por una consulta utilizamos el método count()

In [12]:
total_customers = db.customers.count_documents({"_id": 1})
print(total_customers)

1

### 7.2 Limit & Skip

* Con limit limitamos el número de elementos que queremos devolver
* Con Skip indicamos cuantos elementos queremos obviar de la consulta empezando por el principio de la colección resultante.

Si lo sutilizamos conjuntamente podemos paginar los resultados.

In [13]:
# Primera ventana de 5 elementos
customer_list = db.customers.find({}).limit(5)

for customer in customer_list:
    print(customer)

{'_id': ObjectId('65dda2d00cae681d76176955'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65dda2dc0cae681d76176956'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65dda2dc0cae681d76176957'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65dda2dc0cae681d76176958'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [14]:
# Segunda ventana de 5 elementos: obviamos los 5 primeros y limitamos a 5 para obtener los 5 siguientes
customer_list = db.customers.find({}).skip(5).limit(5)

for customer in customer_list:
    print(customer)

{'_id': ObjectId('65dda2dc0cae681d76176959'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65dda2dc0cae681d7617695a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65dda2dc0cae681d7617695b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65dda2dc0cae681d7617695c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695d'), 'name': 'Ben', 'address': 'Park Lane 38'}

### 7.3 Sort

Sort permite ordenar la búsqueda por algún campo:

* sort("name", 1) #Ordena por nombre ascendentemente
* sort("name", -1) #Ordena por nombre descendentemente

In [37]:
customer_list = db.customers.find({}).sort("name", 1)

for customer in customer_list:
    print(customer)

{'_id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65dda2dc0cae681d7617695d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65dda2dc0cae681d76176959'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65dda2dc0cae681d7617695f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65dda2dc0cae681d76176956'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65dda2d00cae681d76176955'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 15, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65dda2dc0cae681d76176957'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65dda2dc0cae681d7617695a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65dda2dc0cae681d76176958'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65dda2dc0cae681d7617695c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65dda2dc0cae681d76176960'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65dda2dc0cae681d7617695e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [16]:
customer_list = db.customers.find({}).sort("name", -1)

for customer in customer_list:
    print(customer)

{'_id': ObjectId('65dda2dc0cae681d7617695e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65dda2dc0cae681d76176960'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65dda2dc0cae681d7617695c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65dda2dc0cae681d76176958'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('65dda2dc0cae681d76176957'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65dda2d00cae681d76176955'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 15, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65dda2dc0cae681d76176956'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65dda2dc0cae681d7617695f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65dda2dc0cae681d76176959'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65dda2dc0cae681d7617695d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

### Ejercicio 2:

Antes de hacer el ejercicio visita la página de la documentación de MongoDB para los modificadores Count, Limit, Skip y Sort

* Count https://docs.mongodb.com/manual/reference/method/cursor.count/#cursor.count
* Limit https://docs.mongodb.com/manual/reference/method/cursor.limit/#cursor.limit
* Skip https://docs.mongodb.com/manual/reference/method/cursor.skip/#cursor.skip
* Sort https://docs.mongodb.com/manual/reference/method/cursor.sort/#cursor.sort


Vamos a añadir algunos documentos más a la coleción de pets del ejercicio anterior:

`
{name: "Poppy Bella", species: "Gerbil", age: 5}
{name: "Molly Alfie", species: "Piranha", age: 9}
{name: "Charlie Daisy", species: "Cat", age: 13}
{name: "Rosie Teddy", species: "Hotdog", age: 9}
{name: "Lola Millie", species: "Sausagedog": age: 7}
{name: "Bella Tilly", species: "Cat": age:13}
{name: "Lola Coco", species: "Gerbil", age: 4}
{name: "Daisy Poppy", species: "Piranha", age: 10}
{name: "Phoebe", species: "Cat", age: 11}
{name: "Rosie", species: "Hotdog", age: 10}
{name: "Molly", species: "Sausagedog": age: 6}
{name: "Luna", species: "Cat": age:12}
{name: "Tilly", species: "Gerbil", age: 3}
{name: "Bella", species: "Piranha", age: 11}
{name: "Teddy", species: "Cat", age: 13}
{name: "Mikey", species: "Hotdog", age: 13}
{name: "Coco", species: "Sausagedog": age: 7}
{name: "Teddy", species: "Cat": age:10}
`

Realiza las siguientes consultas:

* La mascota con la menor edad.
* La mascota con la mayor edad.
* Las mascotas ordenadas por edad paginadas de 4 en 4.

#### SOLUCIÓN:

* Añadir documentos:

In [29]:
nuevos_datos = [
    {"name": "Poppy Bella", "species": "Gerbil", "age": 5},
    {"name": "Molly Alfie", "species": "Piranha", "age": 9},
    {"name": "Charlie Daisy", "species": "Cat", "age": 13},
    {"name": "Rosie Teddy", "species": "Hotdog", "age": 9},
    {"name": "Lola Millie", "species": "Sausagedog", "age": 7},
    {"name": "Bella Tilly", "species": "Cat", "age": 13},
    {"name": "Lola Coco", "species": "Gerbil", "age": 4},
    {"name": "Daisy Poppy", "species": "Piranha", "age": 10},
    {"name": "Phoebe", "species": "Cat", "age": 11},
    {"name": "Rosie", "species": "Hotdog", "age": 10},
    {"name": "Molly", "species": "Sausagedog", "age": 6},
    {"name": "Luna", "species": "Cat", "age": 12},
    {"name": "Tilly", "species": "Gerbil", "age": 3},
    {"name": "Bella", "species": "Piranha", "age": 11},
    {"name": "Teddy", "species": "Cat", "age": 13},
    {"name": "Mikey", "species": "Hotdog", "age": 13},
    {"name": "Coco", "species": "Sausagedog", "age": 7},
    {"name": "Teddy", "species": "Cat", "age": 10}
    ]

# Verificar si los datos ya existen antes de insertar
for dato in nuevos_datos:
    if not db.pets.find_one(dato):
        # Insertar solo si no existe
        db.pets.insert_one(dato)

# Mostrar los datos en la base de datos
for documento in db.pets.find():
    print(documento)

{'_id': ObjectId('65ddc95c0cae681d76176961'), 'name': 'Poppy Bella', 'species': 'Gerbil', 'age': 5}
{'_id': ObjectId('65ddc95c0cae681d76176962'), 'name': 'Molly Alfie', 'species': 'Piranha', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176963'), 'name': 'Charlie Daisy', 'species': 'Cat', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176964'), 'name': 'Rosie Teddy', 'species': 'Hotdog', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176965'), 'name': 'Lola Millie', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176966'), 'name': 'Bella Tilly', 'species': 'Cat', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176967'), 'name': 'Lola Coco', 'species': 'Gerbil', 'age': 4}
{'_id': ObjectId('65ddc95c0cae681d76176968'), 'name': 'Daisy Poppy', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d76176969'), 'name': 'Phoebe', 'species': 'Cat', 'age': 11}
{'_id': ObjectId('65ddc95c0cae681d7617696a'), 'name': 'Rosie', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d7617696b'), 'name': 'Molly', 'species': 'Sausagedog', 'age': 6}
{'_id': ObjectId('65ddc95c0cae681d7617696c'), 'name': 'Luna', 'species': 'Cat', 'age': 12}
{'_id': ObjectId('65ddc95c0cae681d7617696d'), 'name': 'Tilly', 'species': 'Gerbil', 'age': 3}
{'_id': ObjectId('65ddc95c0cae681d7617696e'), 'name': 'Bella', 'species': 'Piranha', 'age': 11}
{'_id': ObjectId('65ddc95c0cae681d7617696f'), 'name': 'Teddy', 'species': 'Cat', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176970'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176971'), 'name': 'Coco', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176972'), 'name': 'Teddy', 'species': 'Cat', 'age': 10}

#### La mascota con la menor edad:
* primer documento ordenado por la edad de manera ascendente (de menor a mayor).

In [45]:
mascota_menor_edad = db.pets.find_one({},{"_id":0}, sort=[("age", 1)])
print("Mascota con la menor edad:")
print(mascota_menor_edad)

Mascota con la menor edad:
{'name': 'Tilly', 'species': 'Gerbil', 'age': 3}

#### La mascota con la mayor edad.

In [61]:
mascota_mayor_edad = db.pets.find_one({},{"_id":0}, sort=[("age", -1)])
print("Mascota mayor edad:")
print(mascota_mayor_edad)

Mascota mayor edad:
{'name': 'Charlie Daisy', 'species': 'Cat', 'age': 13}

* como hay varias con la misma edad:

In [78]:
# Obtener el grupo con la misma edad máxima:
edad_maxima_resultado = db.pets.aggregate([
    {"$group": {"_id": None, "max_age": {"$max": "$age"}}}
])

for resultado in edad_maxima_resultado:
    edad_maxima = resultado["max_age"]

mascotas_mayor_edad = db.pets.find({"age": edad_maxima},{"_id": 0})
print("Mascotas de mayor edad:")
for mascota in mascotas_mayor_edad:
    print(mascota)

Mascotas de mayor edad:
{'name': 'Charlie Daisy', 'species': 'Cat', 'age': 13}
{'name': 'Bella Tilly', 'species': 'Cat', 'age': 13}
{'name': 'Teddy', 'species': 'Cat', 'age': 13}
{'name': 'Mikey', 'species': 'Hotdog', 'age': 13}

* Las mascotas ordenadas por edad paginadas de 4 en 4.

In [81]:
pagina = 4
tamano_pagina = 4

mascotas_paginadas = db.pets.find({}, {"_id": 0}).sort("age", 1).skip((pagina - 1) * tamano_pagina).limit(tamano_pagina)

print(f"Mascotas ordenadas por edad (Página {pagina}):")
for mascota in mascotas_paginadas:
    print(mascota)

Mascotas ordenadas por edad (Página 4):
{'name': 'Bella', 'species': 'Piranha', 'age': 11}
{'name': 'Luna', 'species': 'Cat', 'age': 12}
{'name': 'Mikey', 'species': 'Hotdog', 'age': 13}
{'name': 'Bella Tilly', 'species': 'Cat', 'age': 13}

## 8. Modificar los documentos de una colección

Podemos modificar un documento con el método update_one(). El método update_one recibe dos parámetos, 
* la query que busca los documentos a modificar.
* la sentencia de modificación a aplicar sobre los documentos encontrados.

Al igual que pasara con find_one(), modificará el primer documento que cumpla la condición de búsqueda.

In [82]:
myquery = { "_id": 1 }
newvalues = { "$set": { "address": "Canyon 123" } }

db.customers.update_one(myquery, newvalues)

In [83]:
customer_list = db.customers.find({"_id": 1})

for customer in customer_list:
    print(customer)

{'_id': 1, 'name': 'Amy', 'address': 'Canyon 123'}

Si queremos modificar varios documentos a la vez, utilizamos el métdodo update_many() que funciona igual que el método update_one() sólo que modificará todos los documentos que cumplan la query.

In [84]:
myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

db.customers.update_many(myquery, newvalues)

In [85]:
customer_list = db.customers.find()

for customer in customer_list:
    print(customer)

{'_id': ObjectId('65dda2d00cae681d76176955'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'Amy', 'address': 'Canyon 123'}
{'_id': ObjectId('65dda2dc0cae681d76176956'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65dda2dc0cae681d76176957'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65dda2dc0cae681d76176958'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65dda2dc0cae681d76176959'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65dda2dc0cae681d7617695a'), 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': ObjectId('65dda2dc0cae681d7617695b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65dda2dc0cae681d7617695c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65dda2dc0cae681d7617695e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65dda2dc0cae681d7617695f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65dda2dc0cae681d76176960'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 15, 'name': 'John', 'address': 'Highway 37'}

Para saber más sobre el comando update y update_one visita sus páginas de la documentación de MongoDB:
* update_one() https://docs.mongodb.com/manual/reference/method/db.collection.updateOne/
* update() https://docs.mongodb.com/manual/reference/method/db.collection.update/

### Ejercicio 3:

Sobre la colección pets realiza las siguientes consultas:

* Modifica la edad de todos los gatos a 22.
* Modifica el nombre de la mascota 'Molly Alfie'.

#### SOLUCIÓN:

* Modifica la edad de todos los gatos a 22.

In [88]:
myquery = { "species": "Cat" }
newvalues = { "$set": { "age": 22 }}

db.pets.update_many(myquery, newvalues)

pets_list = db.pets.find()

for pet in pets_list:
    print(pet)

{'_id': ObjectId('65ddc95c0cae681d76176961'), 'name': 'Poppy Bella', 'species': 'Gerbil', 'age': 5}
{'_id': ObjectId('65ddc95c0cae681d76176962'), 'name': 'Molly Alfie', 'species': 'Piranha', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176963'), 'name': 'Charlie Daisy', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176964'), 'name': 'Rosie Teddy', 'species': 'Hotdog', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176965'), 'name': 'Lola Millie', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176966'), 'name': 'Bella Tilly', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176967'), 'name': 'Lola Coco', 'species': 'Gerbil', 'age': 4}
{'_id': ObjectId('65ddc95c0cae681d76176968'), 'name': 'Daisy Poppy', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d76176969'), 'name': 'Phoebe', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d7617696a'), 'name': 'Rosie', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d7617696b'), 'name': 'Molly', 'species': 'Sausagedog', 'age': 6}
{'_id': ObjectId('65ddc95c0cae681d7617696c'), 'name': 'Luna', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d7617696d'), 'name': 'Tilly', 'species': 'Gerbil', 'age': 3}
{'_id': ObjectId('65ddc95c0cae681d7617696e'), 'name': 'Bella', 'species': 'Piranha', 'age': 11}
{'_id': ObjectId('65ddc95c0cae681d7617696f'), 'name': 'Teddy', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176970'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176971'), 'name': 'Coco', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176972'), 'name': 'Teddy', 'species': 'Cat', 'age': 22}

* Modifica el nombre de la mascota 'Molly Alfie'.

In [89]:
myquery = { "name": "Molly Alfie" }
newvalues = { "$set": { "name": "Eleno Canelo" }}

db.pets.update_many(myquery, newvalues)

pets_list = db.pets.find()

for pet in pets_list:
    print(pet)

{'_id': ObjectId('65ddc95c0cae681d76176961'), 'name': 'Poppy Bella', 'species': 'Gerbil', 'age': 5}
{'_id': ObjectId('65ddc95c0cae681d76176962'), 'name': 'Eleno Canelo', 'species': 'Piranha', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176963'), 'name': 'Charlie Daisy', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176964'), 'name': 'Rosie Teddy', 'species': 'Hotdog', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176965'), 'name': 'Lola Millie', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176966'), 'name': 'Bella Tilly', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176967'), 'name': 'Lola Coco', 'species': 'Gerbil', 'age': 4}
{'_id': ObjectId('65ddc95c0cae681d76176968'), 'name': 'Daisy Poppy', 'species': 'Piranha', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d76176969'), 'name': 'Phoebe', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d7617696a'), 'name': 'Rosie', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d7617696b'), 'name': 'Molly', 'species': 'Sausagedog', 'age': 6}
{'_id': ObjectId('65ddc95c0cae681d7617696c'), 'name': 'Luna', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d7617696d'), 'name': 'Tilly', 'species': 'Gerbil', 'age': 3}
{'_id': ObjectId('65ddc95c0cae681d7617696e'), 'name': 'Bella', 'species': 'Piranha', 'age': 11}
{'_id': ObjectId('65ddc95c0cae681d7617696f'), 'name': 'Teddy', 'species': 'Cat', 'age': 22}
{'_id': ObjectId('65ddc95c0cae681d76176970'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176971'), 'name': 'Coco', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176972'), 'name': 'Teddy', 'species': 'Cat', 'age': 22}

## 9.  Borrar documentos de una colección

Para borrar un documento utilizaremos el método delete_one() que recibe un parámetrod que es la query que busca los elementos a borrar. delete_one() borrarrá el primer documento que cumpla la query.

In [97]:
myquery = { "_id": 1 }

db.customers.delete_one(myquery)

In [91]:
customer = db.customers.find_one({"_id": 1})

print(customer)

None

Si queremos borrar más de un documento a la vez utilizamos el método delete_many() al que se le pasa la query que busca los documentos a borrar.

In [92]:
myquery = { "address": {"$regex": ".*st.*"} }

db.customers.delete_many(myquery)

In [93]:
customer_list = db.customers.find()

for customer in customer_list:
    print(customer)

{'_id': ObjectId('65dda2d00cae681d76176955'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('65dda2dc0cae681d76176956'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65dda2dc0cae681d76176957'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65dda2dc0cae681d76176958'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65dda2dc0cae681d76176959'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65dda2dc0cae681d7617695b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65dda2dc0cae681d7617695c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65dda2dc0cae681d7617695d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65dda2dc0cae681d7617695f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65dda2dc0cae681d76176960'), 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Minnie', 'address': 'Sideway 1633'}
{'_id': 15, 'name': 'John', 'address': 'Highway 37'}

### Ejercicio 4:

Sobre la colección pets, realiza las siguientes consultas:

* Borra la mascota con nombre Daisy Poppy.
* Borra todas las mascotas que sean gatos.

#### SOLUCIÓN:

* Borra la mascota con nombre Daisy Poppy.

In [95]:
myquery = { "name": "Daisy Poppy" }

db.pets.delete_one(myquery)

In [98]:
pet_delete = db.pets.find_one({"name":"Daisy Poppy"})
print(pet_delete)

None

* Borra todas las mascotas que sean gatos.

In [99]:
myquery = {"species":"Cat"}
db.pets.delete_many(myquery)

In [104]:
pets_delete = db.pets.find()
for pets in pets_delete:
    print(pets)

{'_id': ObjectId('65ddc95c0cae681d76176961'), 'name': 'Poppy Bella', 'species': 'Gerbil', 'age': 5}
{'_id': ObjectId('65ddc95c0cae681d76176962'), 'name': 'Eleno Canelo', 'species': 'Piranha', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176964'), 'name': 'Rosie Teddy', 'species': 'Hotdog', 'age': 9}
{'_id': ObjectId('65ddc95c0cae681d76176965'), 'name': 'Lola Millie', 'species': 'Sausagedog', 'age': 7}
{'_id': ObjectId('65ddc95c0cae681d76176967'), 'name': 'Lola Coco', 'species': 'Gerbil', 'age': 4}
{'_id': ObjectId('65ddc95c0cae681d7617696a'), 'name': 'Rosie', 'species': 'Hotdog', 'age': 10}
{'_id': ObjectId('65ddc95c0cae681d7617696b'), 'name': 'Molly', 'species': 'Sausagedog', 'age': 6}
{'_id': ObjectId('65ddc95c0cae681d7617696d'), 'name': 'Tilly', 'species': 'Gerbil', 'age': 3}
{'_id': ObjectId('65ddc95c0cae681d7617696e'), 'name': 'Bella', 'species': 'Piranha', 'age': 11}
{'_id': ObjectId('65ddc95c0cae681d76176970'), 'name': 'Mikey', 'species': 'Hotdog', 'age': 13}
{'_id': ObjectId('65ddc95c0cae681d76176971'), 'name': 'Coco', 'species': 'Sausagedog', 'age': 7}

## 10. Borrar una colección

Para borrar una colección completa utilizaremos el método drop()

In [106]:
db.customers.drop()

In [107]:
collections = db.list_collection_names()

for collection in collections:
    print(collection)

pets

### Ejercicio 5:

Borra la colección pets utilizada en los ejercicios anteriores.

In [108]:
db.pets.drop()
collections = db.list_collection_names()
for collection in collections:
    print(collection)